.fixed-footer__content {
  font-weight: 300;
  font-size: 10px;
  color: #004b7c;

  width: 100%;
  padding: 3px 0;

  display: flex;
  justify-content: center;
}

.fixed-footer__element {
  margin: 3px 0;
  padding: 0 10px;
}

.fixed-footer__element:not(:last-child) {
  border-right: 1px solid #004b7c;
}
