.fixed-aside__header {
  background-color: cornflowerblue;

  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.fixed-aside__toolbar {
  background-color: aliceblue;

  position: absolute;
  top: 50px;
  left: 0;
  height: 50px;
  width: 100%;
}

.fixed-footer {
  background-color: aquamarine;

  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
}

.main-content {
  background-color: beige;

  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100% - 120px);
  width: 100%;
}

@media only screen and (min-width: 512px) {
  .fixed-aside__header {
    height: 128px;
    width: 15vw;
  }

  .fixed-aside__toolbar {
    top: 128px;
    height: calc(100% - 128px);
    width: 15vw;
  }

  .fixed-footer {
    left: 15vw;
    width: calc(100% - 15vw);
  }

  .main-content {
    top: 0;
    left: 15vw;
    height: calc(100% - 20px);
    width: calc(100% - 15vw);
  }
}

@media only screen and (min-width: 1620px) {
  .fixed-aside__header {
    height: 128px;
    width: 243px;
  }

  .fixed-aside__toolbar {
    top: 128px;
    height: calc(100% - 128px);
    width: 243px;
  }

  .fixed-footer {
    left: 243px;
    width: calc(100% - 243px);
  }

  .main-content {
    top: 0;
    left: 243px;
    height: calc(100% - 20px);
    width: calc(100% - 243px);
  }
}
