<div class="toolbar__content">

  <div class="toolbar__action">
    <span class="fa-stack toolbar__action-icon">
      <i class="fa fa-map-signs fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x toolbar__action-badge"></i>
    </span>
    <span class="toolbar__action-title">Radschulweg Anlegen</span>
  </div>

  <div class="toolbar__action">
    <span class="fa-stack toolbar__action-icon">
      <i class="fa fa-map-signs fa-stack-2x"></i>
      <i class="fa fa-arrow-down fa-stack-1x toolbar__action-badge"></i>
    </span>
    <span class="toolbar__action-title">Radschulweg Laden</span>
  </div>

  <div class="toolbar__action">
    <span class="fa-stack toolbar__action-icon">
      <i class="fa fa-map-signs fa-stack-2x"></i>
      <i class="fa fa-arrow-up fa-stack-1x toolbar__action-badge"></i>
    </span>
    <span class="toolbar__action-title">Radschulweg Speichern</span>
  </div>

  <div class="toolbar__action">
    <span class="fa-stack toolbar__action-icon">
      <i class="fa fa-map-marker fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x toolbar__action-badge"></i>
    </span>
    <span class="toolbar__action-title">Gefahrenpunkt Anlegen</span>
  </div>

</div>
