<yaga-map
  [(lat)]="lat"
  [(lng)]="lon"
  [(zoom)]="zoom"
  >
  <yaga-layers-control>
    <yaga-tile-layer
      yaga-base-layer="OpenCyleMap"
      [url]="'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png'"
      [attribution]="'&copy; <a href=https://www.openstreetmap.org/copyright>OpenStreetMap-Contributors</a> Tiles courtesy of <a href=https://www.thunderforest.com/>Andy Allan</a>'"

      >
    </yaga-tile-layer>
    <yaga-tile-layer
      yaga-base-layer="OpenStreetMap Standard"
      [url]="'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'"
      [attribution]="'&copy; <a href=https://www.openstreetmap.org/copyright>OpenStreetMap-Contributors</a>'"
      >
    </yaga-tile-layer>

    <yaga-layer-group yaga-overlay-layer="Gefahrenpunkte">
       <yaga-marker *ngFor="let lpoint of dangerPointService.danger_points |async" ngInit="let point=initPoint(lpoint)" [(lat)]="point.lat" [(lng)]="point.lon" [(draggable)]="point.editable">
         <yaga-popup>
           <span *ngIf="!point.editable">
             <h3>{{ point.title }}</h3>
             <div>{{ point.description }}</div>
             <button (click)="point.editable=true">Bearbeiten</button>
           </span>
           <span *ngIf="point.editable">
             <div><input type="text" [(ngModel)]="point.title" width="80"/></div>
             <div><textarea [(ngModel)]="point.description" >
             </textarea></div>
             <div>({{point.lat}},{{point.lon}})</div>
             <div>Zum anpassen der Position, den Punkt verschieben und anschließend hier mit OK bestätigen.</div>
             <button (click)="point.editable=false">OK</button>
           </span>
         </yaga-popup>
         <yaga-icon
           iconUrl="http://leafletjs.com/examples/custom-icons/leaf-green.png"
           shadowUrl="http://leafletjs.com/examples/custom-icons/leaf-shadow.png"
           [iconSize]="[38, 95]"
           [shadowSize]="[50, 64]"
           [iconAnchor]="[22, 94]" 
           [shadowAnchor]="[4, 62]"
           [popupAnchor]="[-3, -76]"
           >
           </yaga-icon>
       </yaga-marker>
    </yaga-layer-group>
  </yaga-layers-control>
  <yaga-attribution-control>
  </yaga-attribution-control>
</yaga-map>
<!--

-->
