<yaga-map
  [lat]="53.55"
  [lng]="9.99"
  [zoom]="10"
  >
  <yaga-layers-control>
    <yaga-tile-layer
      yaga-base-layer="OpenStreetMap Standard"
      [url]="'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'"
      [attribution]="'&copy; <a href=https://www.openstreetmap.org/copyright>OpenStreetMap-Contributors</a>'"
      >
    </yaga-tile-layer>
    <yaga-tile-layer
      yaga-base-layer="OpenCyleMap"
      [url]="'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png'"
      [attribution]="'&copy; <a href=https://www.openstreetmap.org/copyright>OpenStreetMap-Contributors</a> Tiles courtesy of <a href=https://www.thunderforest.com/>Andy Allan</a>'"

      >
    </yaga-tile-layer>
    <yaga-layer-group yaga-overlay-layer="Gefahrenpunkte">
       <yaga-marker *ngFor="let point of danger_points" ngInit="editable=false;" [(lat)]="point.lat" [(lng)]="point.lon" [(draggable)]="editable">
         <yaga-popup>
           Bearbeiten: <input type="checkbox" [(ngModel)]="editable"/>
           <span *ngIf="!editable">
             <h3>{{ point.title }}</h3>
             <div>{{ point.description }}</div>

             <button ngClick="editable=true">Btn1</button>
             <button ngClick="point.title='hallo'">Btn2</button>
             <button ngClick="alert('hallo')">Btn3</button>
           </span>

           <span *ngIf="editable">
             <div>Zum anpassen der Position, einfach den Punkt verschieben</div>
             <div>Titel: <input type="text" [(ngModel)]="point.title" width="80"/></div>
             <div>Beschreibung <textarea [(ngModel)]="point.description" >
             </textarea></div>
             <button ngClick="editable=false">OK</button>
           </span>
         </yaga-popup>
         <yaga-icon iconUrl="http://leafletjs.com/examples/custom-icons/leaf-green.png">
           </yaga-icon>
       </yaga-marker>
    </yaga-layer-group>
  </yaga-layers-control>
  <yaga-attribution-control>
  </yaga-attribution-control>
</yaga-map>
